SECRET_KEY=chave-local-solicia-2026
DATABASE_URL=sqlite:///sacolicia.db
FLASK_DEBUG=1

ADMIN_EMAIL=admin@sacolicia.com
ADMIN_PASSWORD=Admin@123

DEMO_CLIENT_EMAIL=cliente@exemplo.com
DEMO_CLIENT_PASSWORD=Cliente@123

CLOUDINARY_CLOUD_NAME=dcxrdp3vu
CLOUDINARY_API_KEY=759123492249986
CLOUDINARY_API_SECRET=U4zQzgUimQ6qJ1VXIvvK2Erq6MM